#overlapFooter{
  background-color: #141414;
    font-family: 'Source Sans Pro', sans-serif;
      font-size: 3.75rem;
        font-weight: 600;
        color:white;
        width:80%;
        padding: .8em .2em;
        text-align: center;
        margin: 0 auto;
        border-radius: 10px;
        position: relative;
        bottom: 1.1em;
        box-shadow: 0px 22.5px 50px .1px black;
        border:1px solid #333333;
}
#footerLinks{
  text-align: center;
margin-top: 0em;
}
.footerLink{
  font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    color:white;
    font-weight: 500;
    cursor: pointer;
    padding: 15px 30px;
    text-decoration: none;
}
.footerLink:hover{
  color:#c9c9c9;
  transition: .2s ease-in-out;
}

.footerShareShape{
  padding: .5em .5em;
  margin: 0em .3em;
  border-radius: 200px;
  background-color:#272727;
    filter:grayscale(1) brightness(200%) contrast(150%);
  position:relative;
}
.onlyMailIcon{
  padding: .5em .5em;
  margin: 0em .3em;
  border-radius: 200px;
  background-color:#2b2b2b;
    filter:grayscale(1) brightness(110%) contrast(110%);
  position:relative;
}
.onlyMailIcon:hover{
  filter:grayscale(0);
  background-color: #f2f2f2;
  transition:  .3s ease-in-out;

}
.footerShareShape:hover{
  filter:grayscale(0);
  background-color: #f2f2f2;
  transition:  .3s ease-in-out;

}
.picShareType1{
  position: relative;
  top:.3em;
  width:1.5%;
}
#footerShare{
  text-align: center;
  position: relative;
  top:5em;
}
#footerExtra{
  color:white;
  position:relative;
  top:8em;
  text-align: center;
    font-family: 'Questrial', sans-serif;
    padding: .3em 0;

}
#footer{
display: block;

}
